<div class="paginator-container">
    <nav>
        <ul>
            <li>
                <a
                    [appClass]="{ disable: currentPage === 0 }"
                    (click)="currentPage = currentPage - 1"
                    >Prev</a
                >
            </li>
            <!-- buildin structural directive -->
            <!-- <ng-container *ngFor="let image of images; let i = index"> -->
            <!-- custom structural directive -->
            <!-- both working properly  -->
            <ng-container *appTime="images.length; let i = index">
                <li
                    [ngClass]="{ active: i === currentPage }"
                    *ngIf="upToFive(i)"
                >
                    <a
                        (click)="currentPage = i"
                        [ngClass]="{ active: i === currentPage }"
                        >{{ i + 1 }}</a
                    >
                </li>
            </ng-container>
            <li>
                <a
                    [appClass]="{ disable: currentPage === images.length - 1 }"
                    (click)="currentPage = currentPage + 1"
                    >Next</a
                >
            </li>
        </ul>
    </nav>
</div>

<div class="images">
    <h2 style="user-select: none">
        {{ images[currentPage].title }}
    </h2>
    <img style="user-select: none" [src]="images[currentPage].url" alt="" />
</div>

<!-- <div [ngSwitch]="currentPage">
<p *ngSwitchCase="0">
Somthing Something
</p>
<p *ngSwitchCase="2">
Somthing Something
</p>
<p *ngSwitchDefault>
nothing nothing
</p></div> -->

<!-- custom structural directive -->

<!-- <ul *appTime="6">
    <li>Shah Zaman</li>
</ul> -->
